In [3]:
import numpy as np
import pandas as pd

pd.set_option('precision', 10)

df = pd.read_csv('./date/31088_103.csv')
df.head()

           actual_date  value
0  2014-07-27 21:00:00    9.8
1  2014-09-26 21:00:00   -0.2
2  2014-07-28 21:00:00    9.2
3  2014-09-27 21:00:00   -0.4
4  2014-11-22 21:00:00  -21.8

In [4]:
print(df.shape)

(1897, 2)

In [5]:
print(df.columns)

Index(['actual_date', 'value'], dtype='object')

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 2 columns):
actual_date    1897 non-null object
value          1897 non-null float64
dtypes: float64(1), object(1)
memory usage: 29.7+ KB
None

In [7]:
# df[] = df[].astype('int64')
df.describe() # include=['dd']

                 value
count  1897.0000000000
mean     -6.4767527675
std      12.9400896539
min     -34.3000000000
25%     -17.8000000000
50%      -5.5000000000
75%       5.2000000000
max      15.5000000000

In [9]:
# для object or bool -> value_counts(normalize=True)

df.sort_values(by="value", ascending=False).head()

              actual_date  value
1594  2017-08-12 21:00:00   15.5
1672  2017-07-17 21:00:00   15.5
1579  2017-08-11 21:00:00   15.1
1688  2017-07-18 21:00:00   14.9
917   2015-08-21 21:00:00   14.8

In [10]:
df['value'].mean()

-6.4767527675276755

In [11]:
df[df['value'] > 0].mean()

value    7.6853623188
dtype: float64

In [17]:
df['actual_date'] = df['actual_date'].astype('datetime64[ns]')

In [21]:
df[df['value'] < 0]['actual_date'].max()

Timestamp('2018-05-19 21:00:00')

In [24]:
# loc -> name
# iloc -> number

df.loc[0:5, 'actual_date':'value']
df.iloc[0:6, 0:2]

          actual_date  value
0 2014-07-27 21:00:00    9.8
1 2014-09-26 21:00:00   -0.2
2 2014-07-28 21:00:00    9.2
3 2014-09-27 21:00:00   -0.4
4 2014-11-22 21:00:00  -21.8
5 2014-07-29 21:00:00   10.6

In [25]:
df[-1:]

             actual_date  value
1896 2017-12-31 21:00:00  -16.3

In [27]:
df = pd.read_csv('./date/character_31088.csv')

df.apply(np.max)

point_id                     31088
actual_date    2018-06-07 21:00:00
offset_h                        69
min td500                 -7.73886
max td500                 -5.77767
avg td500                 -10.3511
min rh925                      100
max rh925                      100
avg rh925                      300
min v10                    10.8925
max v10                    16.6541
avg v10                    38.8087
min wdir850                355.273
max wdir850                359.997
avg wdir850                1068.26
min snownc                  62.108
max snownc                 62.2924
avg snownc                 110.493
min defV500            0.000160947
max defV500            0.000451269
avg defV500            0.000660188
min t2                     16.5182
max t2                     19.1837
avg t2                     49.8442
min u850                    14.907
max u850                   22.0047
avg u850                   48.3348
min wdir10                 354.821
max wdir10                 359.951
avg wdir10                 1057.05
                      ...
min t850                    18.546
max t850                   20.5728
avg t850                   55.5786
min wspd850                33.3156
max wspd850                45.5823
avg wspd850                100.952
min w850                  0.126858
max w850                  0.563103
avg w850                  0.481619
min dudy500            9.70451e-05
max dudy500            0.000282227
avg dudy500            0.000319941
min u500                   32.0586
max u500                   46.0237
avg u500                   108.652
min rot500             0.000180561
max rot500             0.000484351
avg rot500             0.000592065
min slptend                -999999
max slptend                -999999
avg slptend                -500000
min td850                  12.7153
max td850                  14.7414
avg td850                  37.5749
min advRh2              0.00107587
max advRh2              0.00583227
avg advRh2              0.00378913
min tdd500                 32.9453
max tdd500                 47.9985
avg tdd500                 106.836
Length: 165, dtype: object

In [40]:
df[df['avg slptend'].apply(lambda x : x != -999999.0)].head()

,point_id,actual_date,offset_h,min td500,max td500,avg td500,min rh925,max rh925,avg rh925,min v10,...,avg slptend,min td850,max td850,avg td850,min advRh2,max advRh2,avg advRh2,min tdd500,max tdd500,avg tdd500
248,31088,2013-05-06 21:00:00,45,-42.5259,-22.0077,-22.6167,61.1217,70.3236,48.1541,2.21027,...,-750000.0,-12.6339,-9.82527,-8.72661,0.0000537534,0.0001026680,0.0000547066,1.55363,21.65030,7.12960
754,31088,2014-04-21 21:00:00,21,-37.6523,-37.2494,-18.7254,93.3366,94.1943,46.8827,6.77290,...,-500000.0,-11.7127,-10.95850,-5.66780,-0.0000847260,-0.0000343095,-0.0000297589,3.35209,4.58880,1.98522
2103,31088,2016-03-20 09:00:00,57,-47.6100,-38.1831,-125.6980,56.4240,89.8289,236.1740,-8.27699,...,-3000000.0,-17.8452,-14.70160,-49.51960,-0.0006438040,0.0012403700,0.0001474790,4.71574,10.46090,19.96940
2104,31088,2016-03-20 21:00:00,69,-37.3191,-34.3764,-107.3170,54.9899,94.4190,238.2710,-11.85860,...,-3000000.0,-18.7977,-10.42180,-40.35540,-0.0024671300,-0.0000935562,-0.0028885000,3.16230,4.58240,11.33920
2105,31088,2016-03-21 09:00:00,69,-41.9444,-34.9455,-115.6570,90.2911,98.1722,285.7670,-10.56500,...,-3000000.0,-12.0141,-8.70700,-28.27000,-0.0032321600,-0.0002751000,-0.0039028000,3.25737,9.56662,18.93740

In [44]:
# replace 
# df['value'] = df['value'].map({old_value: new_value})
# df = df.replace({field : map})

#group by
# df..groupby(by=grouping_columns)[columns_to_show].function()

#df.groupby(['actual_date'])['min td500', 'min rh925'].describe(percentiles=[])
# df.groupby(['actual_date'])['min td500', 'min rh925'].agg([np.mean, np.std, mp.min, np.max])

In [48]:
# таблица сопряженности
# pd.crosstab(df['min td500'], df['min td850'])
# свобные таблицы 
df.pivot_table(['min td500', 'min td850'], ['actual_date'], aggfunc='mean').head(10)

                     min td500  min td850
actual_date
2013-01-01 09:00:00   -47.2578   -25.5492
2013-01-01 21:00:00   -40.3764   -24.0012
2013-01-02 09:00:00   -44.7696   -22.5310
2013-01-02 21:00:00   -43.9037   -24.9237
2013-01-03 09:00:00   -43.6458   -25.2467
2013-01-03 21:00:00   -41.0726   -24.3238
2013-01-04 09:00:00   -41.1444   -24.2562
2013-01-04 21:00:00   -41.6251   -23.3547
2013-01-05 09:00:00   -43.2307   -22.3182
2013-01-05 21:00:00   -46.1295   -23.8348

In [ ]:
# total = df[] + df[]
# df.inset(loc=df.columns, columns='ddd', value=total) columns
# df['ddd'] = total columns
# df = df.drop(['Total charge'], axis=1) columns
# df.drop([1, 2]).head() row